# temporary files
*~
.*.swp # vim
*.flc # xemacs
.DS_Store # MacOS
Thumbs.db # Windows

/*.sconf

# removing dist folder : folder receiving the compilation products
/dist
/.dist

# datas or personal files
/data
/scripts
/*.sh

# in case uncrustify.sh script fails, do not commit the temporary file
/files_to_uncrustify_delete_me.txt

# in case scons configure fails, do not commit the temporary file
/config.log

# temporary files
/*.xml
/*.dot
/*.log

/nbproject

# visual projects
*.sln
*.suo
*.vcxproj
*.vcxproj.*
# visual projects create log files into directories
Debug
Release
Production

/python/sequenceParser.py
/python/sequenceParser_wrap.cxx
